<div class="conf-dates" aria-label="Conference starts on {{ conf.data.date | readableDate }}">
  <span class="icon" aria-hidden="true">📆</span>
  <time datetime="{{ conf.data.date | htmlTime }}" >{{ conf.data.date | readableDate }}</time>
  {% if conf.data.endDate %}
    <span class="end-date">
      - <time datetime="{{ conf.data.endDate | htmlTime }}">{{ conf.data.endDate | readableDate }}</time>
    </span>
  {% endif %}
</div>

<h3 class="conf-title">
  <a href="{{ conf.data.url }}">
    {{ conf.data.title }}
  </a>
</h3>

<address class="conf-location"  aria-label="Conference location">
  <span class="icon" aria-hidden="true">📍</span>
  {{ conf.data.location }}
</address>

<div class="conf-about">
  {{ conf.templateContent | safe }}
  {% if conf.data.cocUrl %}
  <a href="{{ conf.data.cocUrl }}" class="conf-coc" aria-label="Code of Conduct for {{ conf.data.title }}">Code of Conduct</a>
  {% endif %}
</div>

<div class="conf-byline">
  {{ conf.data.byline }}
</div>

<a href="{{ conf.data.url }}" class="conf-link">
  <span class="screen-reader-text">Visit {{ conf.data.title }} site for more information</span>
  <span aria-hidden="true">→</span>
</a>
