<time class="conf-dates">
  <span class="icon">📆</span>
  {{ conf.data.startDate | readableDate }} -
  {{ conf.data.endDate | readableDate }}
</time>

<h2 class="conf-title">
  <a href="{{ conf.data.url }}">
    {{ conf.data.title }}
  </a>
</h2>

<address class="conf-location">
  <span class="icon">📍</span>
  {{ conf.data.location }}
</address>

<div class="conf-about">
  {{ conf.templateContent | safe }}
  <a href="{{ conf.data.cocUrl }}" class="conf-coc">Code of Conduct</a>
</div>

<a href="{{ conf.data.url }}" class="conf-link">
  <span class="screen-reader-text">Go to Conference Site</span>
  →
</a>
