<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:url" content="https://conferences.css-tricks.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="https://css-tricks.com/wp-content/uploads/2013/06/CSS-Tricks-star.png">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="https://css-tricks.com/wp-content/uploads/2013/06/CSS-Tricks-star.png">
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:700"
      rel="stylesheet"
    />
    {%- set css -%}
      {% include "css/index.css" %}
      {% include "css/grid.css" %}
      {% include "css/list.css" %}
    {%- endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <link rel="alternate" href="/feed.xml" title="Upcoming Conferences - CSS-Tricks" type="application/atom+xml">
  </head>
  <body class="grid">
  
    {{ content | safe }}

    {% include "icons.njk" %}

    <script src="{{ '/script/index.js' | url }}"></script>
  </body>
</html>
