<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ title }}</title>

  <meta name="description" content="{{ site.description }}">
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:image" content="/images/og-image.png">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ site.title }}">
  <meta name="twitter:description" content="{{ site.description }}">
  <meta name="twitter:image" content="/images/og-image.png">
  
  <link rel="icon" href="/images/favicon-32x32.png" sizes="32x32" />
  <link rel="icon" href="/images/favicon-192-x192.png" sizes="192x192" />
  <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rajdhani:wght@600;700&display=swap" rel="stylesheet">
  {%- set css -%}
    {% include "css/index.css" %}
    {% include "css/grid.css" %}
    {% include "css/list.css" %}
  {%- endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  <link rel="alternate" href="/feed.xml" title="{{ site.title }}" type="application/atom+xml">
  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119774708-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-119774708-4');
    </script>
</head>

<body class="grid">

  {{ content | safe }}

  {% include "icons.njk" %}

  <footer class="site-footer">

    <div class="credit">
      Built with
      <a href="https://www.11ty.io/">
        <img src="/images/11ty-logo.png" alt="11ty Logo">
      </a>
    </div>
    
    <div class="credit">
      Hosted on
      <a href="https://netlify.com">
        <img src="/images/netlify-full-logo-dark.svg" alt="Netlify Logo">
      </a>
    </div>

    <div class="credit">
      Managed by
      <a href="https://www.netlifycms.org/">
        <img src="/images/netlify-cms-logo.svg" alt="Netlify CMS Logo">
      </a>
    </div>

    <div class="syndication">
      <a href="/feed.xml" aria-label="RSS feed"><abbr title="Really Simple Syndication">RSS</abbr> Feed</a>
      &middot;
      <a href="/feed.json" aria-label="JSON feed"><abbr title="JavaScript Object Notation">JSON</abbr> Feed</a>
    </div>

  </footer>

  <script src="{{ '/script/index.js' | url }}"></script>

</body>

</html>
