<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:700"
      rel="stylesheet"
    />
    {%- set css -%}
      {% include "css/index.css" %}
      {% include "css/grid.css" %}
      {% include "css/list.css" %}
    {%- endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <link rel="alternate" href="/feed.xml" title="Upcoming Conferences - CSS-Trickss" type="application/atom+xml">
  </head>
  <body class="grid">
    {{ content | safe }}

    {% include "icons.njk" %}

    <script src="{{ '/script/index.js' | url }}"></script>
  </body>
</html>
