---
layout: layouts/base.njk
---

<header class="site-header">
  <div class="logo">
    <a href="https://css-tricks.com">
      <div class="screen-reader-text">CSS-Tricks</div>
      <svg class="icon-logo-star" width="35px" height="35px">
        <use xlink:href="#icon-logo-star"></use>
      </svg>
      <!-- 288 35 -->
      <svg class="icon-logo-text" width="214px" height="35px">
        <use xlink:href="#logo"></use>
      </svg>
    </a>
    <span class="presents">presents</span>
  </div>

  <h1><a href="/">{{ title }}</a></h1>
  {% if lede %}
  <p class="subtitle">{{ lede }}</p>
  {% endif %}

  {{ content | safe }}

  <a
    class="contribute-link"
    href="https://github.com/CSS-Tricks/conferences#contributing"
  >
    <strong>Add a Conference</strong>
    on GitHub
  </a>

  <div class="style-switcher">
    <button class="active" data-body-class="grid">
      <span aria-hidden="true" class="view-icon">⠿</span>
      <span class="screen-reader-text">
        View conferences as grid
      </span>
    </button>
    <button data-body-class="list">
      <span aria-hidden="true" class="view-icon">☰</span>
      <span class="screen-reader-text">
        View conferences as list
      </span>
    </button>
  </div>
</header>

<div id="maincontent" role="main" aria-label="Conference listing">

  <ul aria-label="Conference listed by months">
    {%- for month in helper.months -%} {% if (pagination.items |
    doesConfExist(month)) > 0 %}

    <div role="region" aria-labelledby="{{ month | slug }}-hed">
      <h2 class="month-heading" id="{{ month | slug }}-hed">
        {{ month }}
      </h2>
      <ul class="conference-list">
        {%- for conf in pagination.items -%} {% if conf.data.date |
        getMonthName === month %}
        <li class="conf">
          {% include "conference.njk" %}
        </li>
        {% endif %} {%- endfor -%}
      </ul>
    </div>
    {% endif %} {%- endfor -%}
  </ul>
</div>
