---
permalink: feed.json
---
{
  "source" : "https://events.pubg.com",
  "events" : [
    {% for conf in collections.events -%}
    {
      "title" : "{{ conf.data.title }}",
      "date" : "{{ conf.data.date }}",
      {%- if conf.data.endDate %}
      "endDate" : "{{ conf.data.endDate }}",
      {%- endif %}
      "url" : "{{ conf.data.url }}",
      "location" : "{{ conf.data.location }}",
      "byline" : "{{ conf.data.byline }}"
      {%- if conf.data.cocUrl %}
      ,"cocUrl" : "{{ conf.data.cocUrl }}"
      {%- endif %}
    }{% if not loop.last %},{% else %}{% endif %}
    {% endfor -%}
]}
