---
title: Upcoming Conferences - CSS-Tricks
layout: layouts/base.njk
description: A place for conferences.
---

<header class="site-header">
  <div class="logo">
    <a href="https://css-tricks.com">
      <div class="screen-reader-text">CSS-Tricks</div>
      <svg class="icon-logo-star" width="35px" height="35px">
        <use xlink:href="#icon-logo-star"></use>
      </svg>
      <!-- 288 35 -->
      <svg class="icon-logo-text" width="214px" height="35px">
        <use xlink:href="#logo"></use>
      </svg>
    </a>
    <span class="presents">presents</span>
  </div>

  <h1>Upcoming Conferences</h1>
  <div class="subtitle">... related to Front-End Design & Development</div>

  <ul class="contribute-links">
    <li>
      <a class="contribute-link" href="/feed.xml"
        >RSS XML</a
      >
    </li>
    <li>
      <a class="contribute-link" href="/feed.json"
        >JSON</a
      >
    </li>
    <li>
      <a class="contribute-link" href="https://github.com/CSS-Tricks/conferences"
        >Contribute on GitHub</a
      >
    </li>
  </ul>

  <div class="style-switcher">
    <button class="active" data-body-class="grid">
      ⠿
      <span class="screen-reader-text">
        View as Grid
      </span>
    </button>
    <button data-body-class="list">
      ☰
      <span class="screen-reader-text">
        View as List
      </span>
    </button>
  </div>
</header>

<ul>
  {%- for month in helper.months -%}
    {% if (collections.conferences | doesConfExist(month)) > 0 %}
      <li>
        <h2 class="month-heading">{{month}}</h2>
          <ul class="conference-list">
          {%- for conf in collections.conferences -%}
            {% if conf.data.date | getMonthName === month %}
              <li class="conf">
                {% include "conference.njk" %}
              </li>
            {% endif %}
          {%- endfor -%}
          </ul>
      </li>
    {% endif %}
  {%- endfor -%}
</ul>
