body.grid {
  .conference-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 30px;
    padding-top: 30px;
  }

  .conf {
    background: white;
    color: #100e17;
    border-radius: 10px;
    box-shadow: 0 25px 50px black;
    position: relative;
    padding-bottom: 50px;
  }

  .conf-title a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    line-height: 1.2;
    text-shadow: 1px 1px 2px #00000073;
  }

  .conf-coc-in-title {
    display: none !important;
  }

  .icon {
    font-size: 24px;
    margin-right: 0.5rem;
    width: 10px;
  }

  .icon-calendar {
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    font-size: 12px;
    text-align: center;
    border: 1px solid #333;
    background: white;
    color: black;
    border-radius: 2px;
    padding-top: 6px;
    margin: 3px 10px 3px 0;

    &::before {
      content: '';
      position: absolute;
      top: -1px;
      left: -1px;
      height: 4px;
      width: 100%;
      background: var(--rust);
      border: 1px solid #333;
      border-radius: 2px 2px 0px 0px;
    }
  }

  .conf-dates {
    background: #000;
    background: repeating-linear-gradient(45deg, #1f1f1f, #1f1f1f 10px, #0f0e16 10px, #0f0e16 20px);
    background-attachment: fixed;
    color: #fff;
    font-weight: 600;
    border: solid rgba(255, 255, 255, 0.125);
    border-width: 1px 0 0 1px;
    border-radius: 0 0 5.5em/95% 0;
    display: flex;
    align-items: center;
    padding: 0.66rem 1rem;
    font-size: 15px;
  }

  .conf-location {
    display: flex;
    align-items: center;
    padding: 0.66rem 1rem;
    font-size: 15px;
  }

  .end-date {
    margin-left: 0.25rem;
  }

  .link-and-coc {
    margin-top: 2rem;
  }

  .conf-coc {
    &:hover, &:focus {
      color: var(--dark);
    }
  }

  .conf-link {
    &:hover, &:focus {
      color: var(--dark);
    }

    font-size: 0.8rem;
    color: var(--rust);
    font-weight: 700;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.25rem;
  }

  .conf-coc {
    font-size: 0.8rem;
    color: var(--rust);
    font-weight: 700;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.25rem;
    font-size: 0.66rem;
  }

  .icon-arrow-right {
    margin-bottom: -0.225em;
    transition: margin-left 0.2s ease-in-out;
  }

  .conf-location {
    font-style: normal;
    background-color: #ffc9a3;
    background-size: cover;
  }

  .conf-about {
    padding: 1rem 2.5rem 1rem 1rem;

    p {
      margin-bottom: 1rem;
    }
  }

  .conf-standalone .conf-about p {
    font-size: 130%;
  }

  .conf-byline {
    display: none;
  }

  .details-link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 45px;
    padding-left: 5px;
    background-color: var(--pink);
    background-image: linear-gradient(to right, #ff8a00, rgba(255, 255, 255, 0));
    color: white;
    display: flex;
    align-items: flex-end;
    transition: background-color 0.2s linear;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    &:hover, &:focus {
      background-color: var(--orange);
    }

    svg {
      display: block;
      fill: #fff;
      transition: transform 0.25s;
      position: absolute;
      top: 10px;
      left: 10px;
    }

    &:hover svg {
      transform: translate(5px, 5px) rotate(160deg);
    }
  }

  .conf-head {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, #ff8a00, #da1b60);
  }

  .conf div {
    &:nth-child(1) {
      order: 2;
    }

    &:nth-child(2) {
      order: 1;
    }

    &:nth-child(3) {
      order: 3;
    }

    &:nth-child(4) {
      order: 4;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  body.grid .conf-link:hover .icon-arrow-right {
    margin-left: 0.125em;
  }
}

/* @media (prefers-reduced-motion: no-preference) { */

/* } */

abbr[title] {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
}

@media (max-width: 700px) {
  body.grid {
    .conference-list {
      display: block;
      padding: 1rem;
    }

    .conf {
      margin-bottom: 4rem;
    }
  }
}

body.grid {
  .remindme {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    button {
      border: none;
      background: none;
      padding: 0.15em 0.75em;
      font-size: 0.66rem;
      cursor: pointer;
      color: var(--rust);
      transition: opacity 0.1s linear;
      border: 1px solid var(--rust);
      border-radius: 10px;
    }
  }

  .flyout {
    z-index: 1;

    label {
      font-size: 0.8rem;
    }

    input[type='email'] {
      width: 100%;
      font-size: 1rem;
      margin-top: 0.15em;
      border: 2px solid var(--orange);
      padding: 0.5em 0.6em 0.55em 0.5em;
      border-radius: 0.2em;
    }

    .send-email {
      position: absolute;
      border: none;
      z-index: 2;
      bottom: 4em;
      right: 1.6em;
      height: 2.85em;
      width: 3.5em;
      background: none;
    }
  }
}

.card {
  position: relative;

  &[aria-hidden='true'] .card__face--back {
    display: none;
  }
}

.card__face {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 1rem;
}

.card__face--back {
  background: white;
  border-radius: 10px;
  border-top: 1px solid #ccc;
}