body.grid .conference-list {
  list-style: none;
  display: block;
  padding-top: 30px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    body.grid .conference-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
      grid-gap: 30px; } }
  @media (min-width: 1200px) {
    body.grid .conference-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
      grid-gap: 30px; } }
body.grid .conf {
  background: white;
  color: var(--mediumgray);
  position: relative;
  padding-bottom: 70px;
  overflow: hidden; }
body.grid .conf-head {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 160px;
  padding: 30px 20px 10px 20px;
  position: relative;
  background-image: url(../../images/default-cover.jpg);
  background-position: center center;
  background-size: cover; }
  body.grid .conf-head:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-left: 7px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 7px solid #fff;
    right: 0;
    bottom: 0; }
  body.grid .conf-head h3 {
    height: 72px;
    font-size: 28px;
    font-weight: bold;
    line-height: 120%;
    letter-spacing: .1em;
    color: #fff;
    text-transform: uppercase;
    margin-right: 15px;
    flex: 0 0 calc(100% - 70px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis; }
  body.grid .conf-head .conf-dates {
    flex: 0 0 50px;
    background: none;
    border: none;
    padding: 0;
    font-family: var(--ff-title);
    text-align: center;
    color: #fff; }
    body.grid .conf-head .conf-dates .day {
      display: block;
      font-size: 42px;
      font-weight: bold;
      letter-spacing: .1em;
      line-height: 100%; }
    body.grid .conf-head .conf-dates .month {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: .15em;
      text-transform: uppercase;
      line-height: 100%; }
body.grid .conf-coc-in-title {
  display: none !important; }
body.grid .conf-location {
  width: calc(100% - 70px);
  height: 18px;
  margin-top: 32px;
  font-size: 16px;
  color: var(--lightgray);
  letter-spacing: .15em;
  display: inline-block;
  border-left: 1px solid var(--yellow);
  padding-left: 10px;
  font-style: normal;
  font-family: var(--ff-title);
  font-weight: 400;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
body.grid .conf-cta {
  width: 100%;
  padding: 0 26px;
  position: relative;
  margin-top: -25px;
  text-align: right; }
  body.grid .conf-cta a {
    width: 50px;
    height: 50px;
    position: relative;
    background: var(--yellow);
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.3);
    transition: ease .3s;
    transition-property: box-shadow, background; }
    body.grid .conf-cta a svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
    body.grid .conf-cta a:hover {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
      background: var(--ocher); }
@keyframes cta-arrow {
  0% {
    transform: translateX(0%); }
  50% {
    transform: translateX(200%); }
  50.1% {
    transform: translateX(-200%); }
  100% {
    transform: translateX(0%); } }
body.grid .conf-about {
  padding: 20px; }
  body.grid .conf-about p {
    color: var(--mediumgray);
    font-size: 16px;
    line-height: 150%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none; }
    body.grid .conf-about p:nth-child(1) {
      display: -webkit-box; }
body.grid .conf-actions {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0; }
  body.grid .conf-actions .to-website {
    width: calc((100%/2) - 30px);
    padding: 10px 15px;
    background: var(--lightgray);
    color: var(--darkgray);
    margin: 0 15px 15px 20px;
    text-align: center;
    transition: background ease .3s; }
    body.grid .conf-actions .to-website:hover {
      background: #F0F0F0; }
  body.grid .conf-actions [aria-hidden='true'] .card__face--back {
    display: none; }
  body.grid .conf-actions .card__face {
    position: absolute;
    width: calc((100%/2) - 30px);
    right: 20px;
    bottom: 15px;
    text-align: center; }
    body.grid .conf-actions .card__face button {
      text-align: center;
      border: none;
      background: none;
      padding: 11px 15px 12px 15px;
      background: var(--lightgray);
      color: var(--darkgray);
      font-family: var(--ff-title);
      font-size: 16px;
      transition: background ease .3s; }
      body.grid .conf-actions .card__face button:hover {
        background: #F0F0F0; }
  body.grid .conf-actions .remindme {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  body.grid .conf-actions .card__face--back {
    background: white;
    border-top: 2px solid var(--lightgray); }
    body.grid .conf-actions .card__face--back.flyout {
      z-index: 1;
      width: 100%;
      right: 0;
      bottom: 0;
      box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.15);
      text-align: left;
      padding: 5px 20px 15px 20px; }
      body.grid .conf-actions .card__face--back.flyout label {
        font-size: 14px;
        font-family: var(--ff-title);
        text-transform: uppercase;
        letter-spacing: .15em;
        color: var(--yellow); }
      body.grid .conf-actions .card__face--back.flyout input[type='email'] {
        width: 100%;
        font-size: 1rem;
        margin-top: 0.15em;
        border: none;
        border-bottom: 2px solid var(--gray);
        padding: 5px 0px;
        margin-bottom: 10px;
        transition: border ease .3s; }
        body.grid .conf-actions .card__face--back.flyout input[type='email']:focus {
          border-color: var(--yellow); }
      body.grid .conf-actions .card__face--back.flyout .send-email {
        position: absolute;
        width: calc((100%/2) - 30px);
        border: none;
        z-index: 2;
        top: 72px;
        right: 20px;
        background: var(--yellow);
        padding: 10px 15px;
        color: var(--darkgray);
        font-family: var(--ff-title);
        font-size: 16px;
        transition: background ease .3s; }
        body.grid .conf-actions .card__face--back.flyout .send-email:hover, body.grid .conf-actions .card__face--back.flyout .send-email:focus {
          background: var(--ocher); }
      body.grid .conf-actions .card__face--back.flyout .close {
        width: calc((100%/2) - 10px); }

@media (max-width: 700px) {
  body.grid .conference-list {
    display: block;
    padding: 1rem; } }

/*# sourceMappingURL=grid.css.map */
