body.list .conference-list {
  width: 100%;
  padding-top: 30px; }
body.list .conf {
  display: flex;
  margin: 0 0 2px 0;
  background: white;
  position: relative; }
  body.list .conf > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; }
  body.list .conf:nth-child(even) .conf-dates {
    background: #3E3E3E; }
body.list .conf-head {
  display: flex;
  color: #000;
  border-left: 2px solid var(--yellow);
  position: relative;
  flex: 0 0 100%; }
  @media (min-width: 768px) and (max-width: 992px) {
    body.list .conf-head {
      flex: 0 0 50%; } }
  @media (min-width: 992px) {
    body.list .conf-head {
      flex: 0 0 60%; }
      body.list .conf-head:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-left: 7px solid transparent;
        border-right: 7px solid #fff;
        border-bottom: 7px solid #fff;
        left: 236px;
        bottom: 0;
        z-index: 2; } }
  body.list .conf-head > * {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; }
  body.list .conf-head .thumbnail {
    position: relative;
    order: 2;
    width: 150px;
    display: none; }
    @media (min-width: 992px) {
      body.list .conf-head .thumbnail {
        display: block; } }
  body.list .conf-head .conf-info {
    order: 3;
    padding: 20px 15px 20px 20px;
    flex: 0 0 calc(100% - 150px); }
    @media (min-width: 768px) and (max-width: 992px) {
      body.list .conf-head .conf-info {
        flex: 0 0 calc(100% - 100px);
        padding: 20px 15px 20px 30px; } }
    @media (min-width: 992px) {
      body.list .conf-head .conf-info {
        flex: 0 0 calc(100% - 250px);
        padding: 20px 15px 20px 30px; } }
    body.list .conf-head .conf-info h3 {
      width: 100%;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: .1em;
      color: var(--jetblack);
      margin-bottom: 15px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    body.list .conf-head .conf-info .conf-location {
      width: 100%;
      height: 18px;
      font-size: 16px;
      color: var(--darkgray);
      letter-spacing: .15em;
      display: inline-block;
      border-left: 1px solid var(--yellow);
      padding-left: 10px;
      font-style: normal;
      font-family: var(--ff-title);
      font-weight: 400;
      text-transform: uppercase;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
  body.list .conf-head .conf-dates {
    flex: 0 0 75px;
    order: 1;
    background: var(--darkgray);
    color: #fff;
    font-family: var(--ff-title);
    text-align: center;
    padding-top: 15px; }
    @media (min-width: 768px) {
      body.list .conf-head .conf-dates {
        flex: 0 0 100px; } }
    body.list .conf-head .conf-dates .day {
      font-size: 42px;
      font-weight: bold;
      letter-spacing: .1em;
      line-height: 100%;
      display: block; }
    body.list .conf-head .conf-dates .month {
      font-size: 20px;
      letter-spacing: .15em;
      line-height: 100%;
      display: block;
      text-transform: uppercase; }
body.list .conf-about {
  display: none;
  background: var(--lightgray);
  padding: 20px 85px 20px 30px; }
  @media (min-width: 768px) and (max-width: 992px) {
    body.list .conf-about {
      flex: 0 0 50%; } }
  @media (min-width: 768px) {
    body.list .conf-about {
      display: block; } }
  body.list .conf-about p {
    color: var(--mediumgray);
    font-size: 16px;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    body.list .conf-about p:nth-child(1) {
      display: block; }
body.list .conf-actions {
  display: none; }
body.list .conf-cta {
  height: 50px;
  position: absolute;
  top: 0;
  right: 20px;
  bottom: 0;
  margin: auto;
  z-index: 2; }
  body.list .conf-cta a {
    width: 50px;
    height: 50px;
    position: relative;
    background: var(--yellow);
    display: inline-block;
    overflow: hidden;
    transition: ease .3s;
    transition-property: background; }
    body.list .conf-cta a svg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
    body.list .conf-cta a:hover {
      background: var(--ocher); }
body.list .our-notes-text {
  color: var(--rust);
  position: static; }

/*# sourceMappingURL=list.css.map */
