body.list .conference-list {
  list-style: none;
  padding: 2rem;
  font-size: 14px;
  width: 100%;
}

body.list .conf {
  display: grid;
  grid-template-columns: 2fr 170px 1fr 2fr;
  background: white;
  color: var(--dark);
  margin: 0 0 1px 0;
  border-radius: 5px;
}
body.list .conf > * {
  padding: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
body.list .conf-dates {
}
body.list .end-date {
  display: none;
}
body.list .conf-title {
}
body.list .conf-title a {
  font-size: 1rem;
  line-height: 1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body.list .conf-link,
body.list .conf-about {
  display: none;
}
body.list .conf-location {
  font-style: normal;
}

body.list .conf-byline {
}

@media (max-width: 700px) {
  body.list .conference-list {
    padding: 1rem;
  }
  body.list .conf {
    display: block;
    margin-bottom: 0.5rem;
  }
  body.list .conf > * {
    padding: 1rem;
  }
  body.list .conf > *:not(:first-child) {
    padding-top: 0.25rem;
  }
  body.list .conf > *:not(:nth-last-child(2)) {
    padding-bottom: 0.5rem;
  }
  body.list .conf .conf-byline {
    white-space: normal;
  }
}

body.list h3 a {
  color: var(--dark);
}

body.list h3 a:hover,
body.list h3 a:focus,
body.list h3 a:visited {
  color: #3a3448;
}
